/* IMPORTACIONES */

/* Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* Iconos importados */
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');

/* ESTILOS GENERALES */

/* Eliminación del estilo por default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Se aplica la fuente Roboto a todo el Body para que todas las letras sean Roboto */
body {
  font-family: Roboto;
}

/* ESTILOS DEL NAVBAR */

/* Estilos de la barra de navegacion usando flex para que los elementos vayan de forma horizontal */
nav {
  background-color: #0E1D48;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 5px 10%;
  vertical-align: middle;
}

/* Estilos de los iconos de navegacion */
nav i {
  color: white;
  vertical-align: middle;
}

/* Se quitan las viñetas de las listas */
.nav-links {
  list-style: none;
}

/* Ponemos los elementos en la misma linea y con un padding a los lados */
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

/* Definimos estilos para los "a" de la navegacion para  que no salgan morados y con subrayado */
.nav-links a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/* Aplicamos un efecto para que cuando se pase el mouse aumenten los elementos */
.nav-links li:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* Cambiamos el color a dorado del icono cuando se pase el cursor sobre el elemento */
.nav-links a:hover > i {
  color: gold;
}

/* Cambiamos el color a dorado de las letras cuando se pase el cursor sobre el elemento */
.nav-links a:hover {
  color: gold;
}

/* Estilos del logo del restaurante */
#logo {
  font-family: 'Playball', cursive;
  font-size: 30px;
  color: white;
  cursor: default;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  position: relative;
  text-align: center;
}

/* Estilos de la corona del logo del restaurante */
#logo i {
  font-size: 20px;
  position: absolute;
  left: 84%;
  top: 8%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* Efecto para hacer que la corona del logo se haga un poco más grande al pasar el cursor */
#logo:hover i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  top: 3%;
  color: gold;
}

/* Efecto para hacer que el texto del logo se haga un poco más grande al pasar el cursor */
#logo:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ESTILOS DEL TITULAR */

/* Contenedor con la imagen de comida de fondo y con los estilos para que los elementos vayan en medio */
#contenedor-bienvenida {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pollo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Estilos para el texto de bienvenida */
#bienvenida {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 10px;
}

/* Efectos del boton reservar */
#reservar {
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: none;
  font-weight: 700;
  background-color: #feffc1;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* Efectos del boton al pasar el cursor */
#reservar:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ESTILOS DEL CONTENIDO PRINCIPAL */

/* Contenedor donde ira todo el contenido principal limitado al 80% de la pantalla y centrado en medio */
main {
  width: 80%;
  margin: 50px auto;
  border-left: 3px solid #0e1d488e;
  border-right: 3px solid #0e1d488e;
}

/* Estilos para poner imagen y texto alado */
.presentacion {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 20px;
}

/* Estilos para la imagen que va alado del texto */
.imagen-presentacion {
  width: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

/* Limitamos el contenedor de la imagen y la centramos */
.contenedor-img {
  max-width: 50%;
  text-align: center;
}

.contenedor-img img {
  max-width: 90%;
}

/* Limitamos el ancho y justificamos el texto */
.contenedor-texto {
  max-width: 50%;
  text-align: justify;
}

/* Alineamos verticalmente los iconos donde iran nuestras secciones y le damos un margin ligero para
separar los iconos y el texto */
#secciones span i {
  vertical-align: middle;
  margin-right: 5px;
}

/* Le damos una separacion a los parrafos de esa seccion en particular */
#secciones p {
  margin-bottom: 10px;
}

/* Damos estilo a las secciones para que se diferencien */
#secciones span {
  font-weight: bold;
  color: gold;
  text-shadow: 2px 1px 2px black;
}

/* Aplicamos estilo a los titulos de cada sección de imagen con  texto */
.contenedor-texto h2 {
  color: #7b3984;
  font-size: 40px;
  margin-bottom: 10px;
}

/* Cambiamos fuente del texto ordinario */
.contenedor-texto p {
  font-size: 20px;
}

/* ESTILOS DEL FOOTER */

/* Definimos el estilo del contenedor de pie de pagina */
footer {
  text-align: center;
  background-color: #0E1D48;
  color: white;
  padding: 5px 5px 20px 5px;
}

/* Limitamos el alto del logo del footer */
footer img {
  height: 50px;
}

/* Aplicamos un efecto al pasar el cursor sobre el logo */
footer img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* Damos estilos a los datos del footer */
#datos {
  margin-bottom: 10px;
  text-align: center;
}

/* Media queries del responsive desing */

/* RESPONSIVE DESING DEL NAVBAR Y FOOTER */
@media screen and (max-width: 770px) {
  #logo {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .nav-links li {
    font-size: 15px;
  }

  footer h3 {
    font-size: 15px;
  }

  footer h6 {
    font-size: 10px;
  }
}

@media screen and (max-width: 352px) {
  .nav-links li {
    font-size: 12px;
  }
}



/* RESPONSIVE DESING PROPIO DE INDEX.HTML */

@media screen and (max-width: 1300px) {
  .contenedor-texto h2 {
    font-size: 25px;
  }

  .contenedor-texto p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1070px) {
  .contenedor-texto h2 {
    font-size: 20px;
  }

  .contenedor-texto p {
    font-size: 15px;
  }
}

@media screen and (max-width: 770px) {
  .contenedor-texto h2 {
    font-size: 15px;
  }

  .contenedor-texto p {
    font-size: 10px;
  }

  main {
    margin: 0;
    width: 100%;
    border: none;
  }
}

@media screen and (max-width: 620px) {
  .contenedor-texto h2 {
    font-size: 10px;
  }

  .contenedor-texto p {
    font-size: 8px;
  }

  #bienvenida {
    font-size: 60px;
  }

  #reservar {
    font-size: 1rem;
  }

  .presentacion {
    margin: 20px 20px;
  }
}